.highScoreContainer {
  background-color: black;
  padding: 2rem;
  border-radius: 0rem;
  width: 100%;
  height: 100vh;
  .highScore {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    height: 100%;
    padding: 2rem;
    box-shadow: inset 0 0 40px 35px rgba(2, 184, 171, 0.5),
      0 0 44px 16px rgba(2, 184, 171, 0.5);
    border: 2px solid #01e4da;
    box-sizing: border-box;
    h1 {
      text-align: center;
      font-size: 4rem;
    }
    .tableContainer {
      display: flex;
      justify-content: center;
      // align-items: center;
      max-height: 60vh;
      overflow-y: auto;
      thead {
        position: sticky;
        top: 0;
        background-color: transparent;
        z-index: 2;
      }
      table {
      }
      tr,
      th {
        font-size: 1.5rem;
      }
      td {
        font-size: 1rem;
      }
      th,
      td {
        padding: 1.2rem 2rem;
      }
    }
    .playButton {
      position: absolute;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      right: 6rem;
      top: 7rem;
    }
    .scoreCardContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .scoreCard {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      background-color: white;
      width: 24rem;
      border-radius: 0.7rem;
      padding: 0.6rem;

      p {
        color: black;
        font-size: 1.4rem;
      }
    }
  }
  tr {
    th {
      background-color: black;
    }
  }
  .tableBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 0 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #01e4da;
  border-radius: 10px;
}
